.summary {
  display: flex;
}

.tomorrow,
.week {
  flex-basis: 640px;
  height: auto;
  padding: 8px;
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 7px;
  background-color: #31313e;
  padding-left:  49px;
  position: relative;
}

img.icon{
  position: absolute;
  top: 12px;
  left: 9px;
  width: 32px;
  aspect-ratio: 1;
  }