header {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'YS Text', arial, sans-serif;
  font-weight: bold;
  height: auto;
  padding: 8px;

}

nav {
  text-align: center;
}

nav ul {

  margin: 0 auto;
  white-space: nowrap;
}

nav li {
  width: 16%;
  display: inline-block;

}

.breadcrumbs {
  width: 1280px;
  margin: 0 auto;
  padding:  8px 16px;
  text-align: left;
  height: auto;

}