header {
  font-family: 'YS Text', arial, sans-serif;
  font-weight: bold;
}
nav{
text-align: center;
}
nav ul { 
  
  margin: 0 auto;
  white-space: nowrap;
}

nav li {
  width: 16%;
  display: inline-block;

}

.breadcrumbs {
  width: 1390px;
  margin: 0 auto;
  text-align: left;
  height: 42px;
}